/*
!/.gitignore

!/addons
/addons/*

!/addons/sourcemod
/addons/sourcemod/*

!/addons/sourcemod/plugins
/addons/sourcemod/plugins/*

!/addons/sourcemod/plugins/soccer_mod.smx

!/addons/sourcemod/scripting
/addons/sourcemod/scripting/*

!/addons/sourcemod/scripting/soccer_mod.sp

!/addons/sourcemod/scripting/soccer_mod
!/addons/sourcemod/scripting/soccer_mod/*

!/maps
/maps/*

!/materials
/materials/*

!/materials/models
/materials/models/*

!/materials/models/soccer_mod
!/materials/models/soccer_mod/*

!/models
/models/*

!/models/soccer_mod
!/models/soccer_mod/*

!/maps/ka_soccer_stadium_2019_b1.bsp
