/*
!/.gitignore

!/addons
/addons/*

!/addons/sourcemod
/addons/sourcemod/*

!/addons/sourcemod/plugins
/addons/sourcemod/plugins/*

!/addons/sourcemod/plugins/soccer_mod.smx

!/addons/sourcemod/scripting
/addons/sourcemod/scripting/*

!/addons/sourcemod/scripting/soccer_mod.sp

!/addons/sourcemod/scripting/soccer_mod
!/addons/sourcemod/scripting/soccer_mod/*

!/addons/sourcemod/translations
/addons/sourcemod/translations/*

!/addons/sourcemod/translations/soccer_mod.phrases.txt

!/maps
/maps/*

!/maps/ka_soccer_stadium_2019_b1.bsp
