/*
!/.gitignore

!/addons
/addons/*

!/addons/sourcemod
/addons/sourcemod/*
!/addons/sourcemod/updatefile.txt

!/addons/sourcemod/plugins
/addons/sourcemod/plugins/*

!/addons/sourcemod/plugins/soccer_mod.smx

!/addons/sourcemod/scripting
/addons/sourcemod/scripting/*

!/addons/sourcemod/scripting/soccer_mod.sp

!/addons/sourcemod/scripting/soccer_mod
!/addons/sourcemod/scripting/soccer_mod/*

/skins
/skins/*